In [14]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from sklearn import preprocessing

matplotlib.use("Agg")
import datetime

from finrl.config import config
from finrl.marketdata.yahoodownloader import YahooDownloader
from finrl.preprocessing.preprocessors import FeatureEngineer
from finrl.preprocessing.data import data_split
from finrl.env.env_stocktrading import StockTradingEnv
from finrl.model.models import DRLAgent
from finrl.trade.backtest import backtest_stats, backtest_plot, get_daily_return, get_baseline

In [15]:
config.DOW_30_TICKER

['AAPL',
 'MSFT',
 'JPM',
 'V',
 'RTX',
 'PG',
 'GS',
 'NKE',
 'DIS',
 'AXP',
 'HD',
 'INTC',
 'WMT',
 'IBM',
 'MRK',
 'UNH',
 'KO',
 'CAT',
 'TRV',
 'JNJ',
 'CVX',
 'MCD',
 'VZ',
 'CSCO',
 'XOM',
 'BA',
 'MMM',
 'PFE',
 'WBA',
 'DD']

## Fetch Data

In [19]:
# Loads numerical data from csv if filepath is specified, otherwise downloads it from yfinance for specified dates and tickers
def get_numerical_data(filepath='',start_date='2020-01-01',end_date='2021-01-01',ticker_list=config.DOW_30_TICKER):
    if filepath:
        df = data.load_dataset(filepath)
    else:
        df = YahooDownloader(start_date=start_date,end_date=end_date,ticker_list=ticker_list).fetch_data()
    return df

In [17]:
# Need to pull textual data from sources
def get_textual_data():
    pass

# Run through sentiment analysis model to get the sentiment
def analyze_textual_data():
    pass

# Compute sentiment score. This needs to be computed for every ticker and day based on the sentiment analysis models output for text related to that day.
def compute_score():
    pass

In [20]:
numerical_df = get_numerical_data()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
Shape of DataFrame:  (7590, 8)

In [21]:
numerical_df.head()

,date,open,high,low,close,volume,tic,day
0,2020-01-02,74.059998,75.150002,73.797501,74.333511,135480400,AAPL,3
1,2020-01-02,124.660004,126.269997,124.230003,123.637741,2708000,AXP,3
2,2020-01-02,328.549988,333.350006,327.700012,331.348572,4544400,BA,3
3,2020-01-02,149.000000,150.550003,147.979996,145.354584,3311900,CAT,3
4,2020-01-02,48.060001,48.419998,47.880001,46.776043,16708100,CSCO,3

## Preprocess data

In [6]:
def join_data(numerical_df,sentiment_df):
    return numerical_df.merge(sentiment_df,on=['datadate','tic'])

In [7]:
def preprocess_data(numerical_df,sentiment_df,use_turbulence=False):
    fe = FeatureEngineer(use_turbulence=use_turbulence)
    numerical_df = fe.preprocess_data(numerical_df)
    df = join_data(numerical_df,sentiment_df)
    return df

In [22]:
fe = FeatureEngineer()
numerical_df = fe.preprocess_data(numerical_df)

Successfully added technical indicators

In [23]:
numerical_df.head()

,date,open,high,low,close,volume,tic,day,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma
0,2020-01-02,74.059998,75.150002,73.797501,74.333511,135480400,AAPL,3,0.000000,74.994187,72.950164,0.000000,-66.666667,100.000000,74.333511,74.333511
1,2020-01-02,124.660004,126.269997,124.230003,123.637741,2708000,AXP,3,-0.016214,74.994187,72.950164,0.000000,-66.666667,100.000000,73.972176,73.972176
2,2020-01-02,328.549988,333.350006,327.700012,331.348572,4544400,BA,3,-0.002471,74.815289,73.279208,45.641442,-100.000000,100.000000,74.047249,74.047249
3,2020-01-02,149.000000,150.550003,147.979996,145.354584,3311900,CAT,3,-0.008758,74.655408,73.339686,35.632520,81.412298,57.734339,73.997547,73.997547
4,2020-01-02,48.060001,48.419998,47.880001,46.776043,16708100,CSCO,3,0.035281,75.295238,73.115391,63.681143,166.666667,14.772271,74.205315,74.205315

NameError: name 'training' is not defined